<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/public/css/reset.css">
	<link rel="stylesheet" href="/public/css/ui.css">
	<link rel="shortcut icon" href="/public/img/favicon.png" type="image/png">
	<link rel="canonical" href="http://o4em.ru/">
	<title>О4ЕМ</title>
	<meta name="robots" content="NOODP">
	<meta name="description" content="o4em.ru">
	<meta name="keywords" content="o4em.ru">
	<meta name="author" content="candream-and-beerdy">
	<meta name="swift-page-name" id="swift-page-name" content="front">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="400">
	<meta http-equiv="cleartype" content="on">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta content="о4ем" name="application-name">
	<meta content="о4ем" name="apple-mobile-web-app-title">
</head>
<body>
<div id="systemMessage"></div>
<header id="header"></header>
<div class="refresh"></div>
<main id="pages"></main>
<footer id="footer">
	<div class="footerBox">© o4em.ru 2016</div>
</footer>
<script type="text/javascript" src="/public/js/lib/jquery.js"></script>
<script type="text/javascript" src="/public/js/system.js"></script>
<script type="text/javascript" src="/public/js/action.js"></script>
<script type="text/javascript" src="/public/js/constructor.js"></script>
<script type="text/javascript" src="/public/js/lp.js"></script>
<script type="text/javascript" src="/public/js/user.js"></script>
<script type="text/javascript" src="/public/js/nav.js"></script>
<script type="text/javascript">
    window.first_mind=<%= @env.client_firstmind_bool %>;
    window.client_noauth=<%= @env.client_noauth_bool %>;
</script>
<script type="text/javascript" src="/public/js/fork.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter38491280 = new Ya.Metrika({
                    id:38491280,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/38491280" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>